@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
$fontstyle-noto:'Noto Sans TC';
$fontstyle:'Microsoft JhengHei';
$linkcolor: #fff;
$wordcolor: #3D1101;
$chefwordcolor: #EFE9E7;
$bgcolor: rgba(239,233,231,1);
$bgcolor1: #3D1101;
$bgmap: rgba(250,250,250,0.7);
$font-normal:16px;
$font-18: $font-normal *9/8;
$font-20: $font-normal*5/4;
$font-24: $font-normal*3/2;
$font-36: $font-normal*9/4;
$images: '../images';
$width: 1049px;
